.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.header .logo {
    max-height: 32px;
}

.header .title {
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
}

.header .title-group {
    padding-left: 33px;
    align-self: center;
    border: none;
    margin-right: 3%;
}

.header .title-group i {
    padding-right: 5px;
}