.visibility-visible {
    visibility: visible;
}

.visibility-hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

.event-card {
    border-radius: 8px;
    margin: 0 0 12px 0;
    background-color: #fff;
    border: none;
    border-color: red;
    padding: 7px 4px 7px 4px;
}

.event-card:hover {
    font-weight: 500;
    -ms-transform: scale(1.01);
    /* IE 9 */
    -webkit-transform: scale(1.01);
    /* Safari 3-8 */
    transform: scale(1.01);
}

.event-card .tooltiptext {
    font-size: 0.9rem;
    
    /*
    visibility: hidden;
    */
    width: 92%;
    background-color: rgba(111, 111, 111, 0.99);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0px 2px 3px 2px;
    /* Position the tooltip */
    position: absolute !important;
    z-index: 99999 !important;
    margin: -10px 0px 0 0;
    line-height: normal;
    max-width: 800px;
}

/*
.event-card:hover .tooltiptext {
    visibility: visible;
}
*/

.event-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 400;
    width: auto;
    border: none;
    border-color: blue;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    vertical-align: middle;
    flex-wrap: nowrap;
}

.view>i {
    color: #0d3fe2;
}

button {
    margin: 15px 20px 0 0;
}

i {
    transition: transform .2s;
}

i:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}

.team-logo {
    width: 1.4rem;
    transition: transform 0.3s;
    vertical-align: middle;
    margin: 0 2px 0 2px;
    border: none;
}

.team-logo:hover {
    -ms-transform: scale(1.8);
    /* IE 9 */
    -webkit-transform: scale(1.8);
    /* Safari 3-8 */
    transform: scale(2.8);
}