<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema para exemplificar a construção de um cadastro em Angular.
    </mat-card-subtitle>
    <ul>
        <li *myFor="let n em ['C reate','R etrieve','U pdate','D elete']">{{ n }}</li>
    </ul>
    Aplicação web desenvolvida em Angular, um framework que roda sob Node.js, usando Typescript, HTML e CSS. Hospedado em um servidor Ubuntu na nuvem da DigitalOcean. Controle de versão feito com GIT e Github. Servidor backend em JSON Server. Gerenciamento de pacotes com NPM. proxy reverso NGINX, certificação SSL com certssl e gerenciamento de processos Ubuntu com PM2.
</mat-card>