/*
 https://stackoverflow.com/questions/48610004/adding-ripple-to-mat-card-without-the-card-expanding-on-click-touch
 */

.mat-card .last-child {
    margin-bottom: 0;
}

button {
    margin: 20px 0px 20px 0px;
}

.display-none {
    display: none;
}

.graphsCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
    border-radius: 8px;
    border: none;
    padding: 15px;
}

.graphs {
    display: flex;
    flex-direction: row;
    border: none;
    max-width: 800px;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 12px;
    border-radius: 8px;
}

.teamLogos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 14%;
    min-width: 50px;
    max-width: 80px;
    border: none;
    padding: 0 0 43px 0;
    margin: 0px 0 0 0;
}

.graphContainer {
    display: flex;
    flex-direction: column;
    border: none;
    width: 83%;
    max-width: 600px;
}

/* STACKOVERFLOW https://stackoverflow.com/questions/787839/resize-image-proportionally-with-css */

.teamLogos .graphTeamLogo {
    height: auto;
    width: 90%;
    align-self: flex-end;
    border: none;
    margin: 15px 0 0 0;
}

.graphRowData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    width: 99.5%;
    height: 18px;
    margin: 0 0 2px 0;
}

.graphRowData .cell {
    display: flex;
    font-size: 0.85rem;
    color: #888888;
    font-weight: 'bold';
    border: none;
    width: 4%;
    white-space: nowrap;
    justify-content: center;
}

/*
.pointsSlicesToShow {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
    border-radius: 8px;
}

.pointsSlicesToShow .title {
    font-size: 1rem;
    text-align: center;
    font-weight: light;
    line-height: 1.5;
    border: none;
    margin-left: 10vw;
}
*/

.eventNameAndLogos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
    border-radius: 8px;
}

.eventNameAndLogos .title {
    font-size: 1.2rem;
    text-align: center;
    font-weight: light;
    line-height: 1.2;
    border: none;
}

.eventNameAndLogos .subtitle {
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-width: 3px;
    border-color: black;
    line-height: 1.3;
    vertical-align: middle;
    border: none;
}

.eventName {
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
    border-radius: 8px;
    line-height: 1.5;
    padding: 3px 3px 7px 3px;
}

.eventName .title {
    font-size: 1.3rem;
    text-align: center;
    font-weight: 600;
}

.eventName .subtitle {
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
}

.eventStats {
    font-size: 1.1rem;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
    border-radius: 8px;
    line-height: 1.5;
    padding: 3px 3px 7px 3px;
}

.eventStats .title {
    font-size: 1.3rem;
    text-align: center;
    font-weight: 600;
}

.eventStats .subtitle {
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
}

.eventMarketValues {
    font-size: 1rem;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
    border-radius: 8px;
    line-height: 1.5;
    padding: 6px;
}

.eventMarketValues .title {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
    border: none;
}

.eventMarketValues .subtitle {
    font-size: 0.9rem;
    text-align: center;
    font-weight: 600;
}

.eventsTimeLineCard {
    font-size: 1rem;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
    border-radius: 8px;
    line-height: 1.5;
    padding: 6px;
}

/*
STACKOVERFLOW https://www.geeksforgeeks.org/how-to-display-spinner-on-the-screen-till-the-data-from-the-api-loads-using-angular-8/
*/

#loadingEventComponent {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3f51b5;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#eventComponent {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    /* flex: 1 0 100%; /* flex-grow, flex-shrink, flex-basis */
    align-items: stretch;
}

.x {
    text-align: center;
    vertical-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 8px 8px 0 8px;
    font-weight: 500;
}

.x .tooltiptext {
    font-size: 0.3rem;
    visibility: hidden;
    width: 90%;
    background-color: rgba(111, 111, 111, 0.99);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin: 30px 0px 0 -45%;
    line-height: normal;
}

.x:hover .tooltiptext {
    visibility: visible;
}

.homeEvent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border: none;
    justify-content: flex-start;
    text-align: end;
    color: gray;
}

.awayEvent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    border: none;
    color: gray;
}

.rotate-infinite {
    animation: rotate 2.3s linear infinite;
}